<!Doctype html>
<html xmlns:th="https:://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <h1>Simple Spring Boot Application</h1>
        <form action="#" th:action="@{/form/save}" th:object="${form}" method="post" class="form">
            <div class="form-group">
                <label for="select">Kind Of Request</label>
                <select  class="form-control" id="select" th:field="*{kindOfRequest}">
                    <option th:value="CA">Contact Adjustment</option>
                    <option th:value="DC">Damage Case</option>
                    <option th:value="C">Complaint</option>
                </select>
            </div>
            <div class="form-group">
                <label for="policyNumber">Policy Number</label>
                <input class="form-control" type="text" th:field="*{policyNumber}" id="policyNumber" placeholder="Policy Number">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('policyNumber')}" th:errors="*{policyNumber}"></div>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input class="form-control" type="text" th:field="*{surname}" id="surname" placeholder="Surname">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
            </div>
            <div class="form-group">
                <label  for="textArea">Your Request</label>
                <textarea class="form-control" id="textArea" rows="3" th:field="*{yourRequest}"></textarea>
            </div>
            <input type="submit"  class="btn btn-success" value="Submit">
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>


</html>